$aquamarine:rgb(127, 255, 212);
$aqua: rgb(0, 255, 255);
$black: rgb(0, 0, 0);
$crimson: rgb(220, 20, 60);
$darkred: rgb(139, 0, 0);
$firebrick: rgb(178, 34, 34);
$red: red;
$green: green;
$blue: blue;